---
interface Props {
    title: string;
    description: string;
    link: string;
}
const {title, description, link} = Astro.props;
---

<article class="rounded-lg border-4 border-gray-100 p-4 shadow-sm transition hover:shadow-lg dark:border-gray-800 dark:shadow-gray-700/25 sm:p-6 my-5">
    <a href={link} target="_blank">
        <h3 class="mt-0.5 text-lg font-medium text-gray-900 dark:text-white">
            {title}
        </h3>
    </a>
    <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3 dark:text-gray-400">
        {description}
    </p>
    <a href={link} target="_blank" class="group mt-4 inline-flex items-center gap-1 text-sm font-medium text-blue-600">
        Go to repo
        <span aria-hidden="true" class="block transition group-hover:translate-x-0.5">
            &rarr;
        </span>
    </a>
</article>
