---
export interface Props {
	title: string;
	active: boolean;
}

const { title, active } = Astro.props;
import Navbar from '../components/Navbar.astro'
import './Layout.css';
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.webp" />
		<meta name="description" content="Portfolio powered By AstroJS and created by Diego Duran">
		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet" media="all">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-primary text-white text-[12px] md:text-[20px] min-h-[100%]">
		<Navbar active={active}/>
		<div class="w-screen m-auto shadow">
			<img src="https://avatars.githubusercontent.com/u/96787803?v=4" alt="cover image or bg" width="8000" height="5306" class="block object-cover w-[100%] h-[40vh] absolute">
		</div>
		<slot />
	</body>
</html>
<style lang="scss">
	body {
		font-family: 'JetBrains Mono';
	}
	img {
		object-position: center 50%;
		z-index: -1;
	}
</style>
